body {
  margin: 0;
  font-family: Karla, sans-serif;
  background: linear-gradient(to top, #f7c603, #fedb4e);
}
.bg {
  width: 100% !important;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.banner {
  margin-top: 20px;
  margin-bottom: 0;
}

.title {
  font-size: 72px;
  text-align: center;
  line-height: 84.17px;
  letter-spacing: 4px;
  font-weight: 400;
  margin-top: -55px;
  margin-bottom: 0;
}

.bold-text {
  font-weight: 700;
}

.paragraph {
  font-size: 24px;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
  line-height: 28.06px;
  color: #000000;
}
