body {
  background: linear-gradient(to top, #f7c603, #fedb4e);
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
